* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}
.container {
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}
.container .image img {
    width: 100%;
    border-radius: 10px;
}
.container h4 {
    margin: 15px 10px;
    cursor: auto;
}
.container h4 span{
    letter-spacing: -0.6px;
}
.container p {
    font-size: 10px;
    width: 77%;
    margin: 0 auto 20px auto;
}
